<div><h1 class='text-center mt-5'>{{welcomeMessage}}</h1></div>

<div class='addNew-card m-2'>
  {{! <button class="btn btn-primary" type="submit" id="newCard">
    Add New Card
</button> }}
  <!-- Button trigger modal -->
  <button
    type='button submit'
    class='btn btn-primary'
    data-bs-toggle='modal'
    data-bs-target='#exampleModal'
  >
    Add New Card
  </button>

  <!-- Modal -->
  <div
    class='modal fade'
    id='exampleModal'
    tabindex='-1'
    aria-labelledby='exampleModalLabel'
    aria-hidden='true'
  >
    <div class='modal-dialog'>
      <div class='modal-content'>
        <div class='modal-header'>
          <h1 class='modal-title fs-5' id='exampleModalLabel'>Enter A Title For
            Your List</h1>
          <button
            type='button'
            class='btn-close'
            data-bs-dismiss='modal'
            aria-label='Close'
          ></button>
        </div>
        <div class='modal-body'>
          <input id='newListTitle' type='text' placeholder='Title' />
        </div>
        <div class='modal-footer'>
          <button
            type='button'
            class='btn btn-secondary'
            data-bs-dismiss='modal'
          >Close</button>
          <button
            type='submit'
            class='btn btn-primary'
            data-bs-dismiss='modal'
            id='savedTitle'
          >Save</button>
        </div>
      </div>
    </div>
  </div>
</div>

{{#if topics.length}}
  <div class='container mt-5 my-auto'>
    {{#each topics as |topic|}}
      <a href='/topic'>
        <div class='row row-cols-1 row-cols-md-2 pl-5 topic-list'>
          <div class='row mb-2'>
            <div class='col'>
              <div class='card'>
                <div class='pl-4 card-body'>
                  <h5 class='card-title'>{{topic.topicName}}</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
    {{/each}}
  </div>
{{/if}}

<script src='/js/dashboard.js'></script>