<div><h1 class='text-center mt-5'>{{welcomeMessage}}</h1></div>

  <!-- Button trigger modal -->
  <div class="text-center m-auto p-5">
  <button
    type='button submit'
    class='btn btn-primary row'
    data-bs-toggle='modal'
    data-bs-target='#topicForm'
  >
    Add New Topic
  </button> 
  </div>


<div class='addNew-card container m-auto'>
  <!-- Modal -->
  <div
    class='modal fade'
    id='topicForm'
    tabindex='-1'
    aria-labelledby='topicFormLabel'
    aria-hidden='true'
  >
    <div class='modal-dialog'>
      <div class='modal-content'>
        <div class='modal-header'>
          <h1 class='modal-title fs-5' id='topicFormLabel'> Enter A Title For
            Your List</h1>
          <button
            type='button'
            class='btn-close'
            data-bs-dismiss='modal'
            aria-label='Close'
          ></button>
        </div>
        <div class='modal-body'>
          <input id='newListTitle' type='text' placeholder='Title' />
        </div>
        <div class='modal-footer'>
          <button
            type='button'
            class='btn btn-secondary'
            data-bs-dismiss='modal'
          >Close</button>
          <button
            type='submit'
            class='btn btn-primary'
            data-bs-dismiss='modal'
            id='savedTitle'
          >Save</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Topics -->
<div class='container mt-5 my-auto w-auto' id='topic-container'>
  {{#if topics.length}}
    {{#each topics as |topic|}}
     
        {{!-- <div class='row'> --}}
          <div class='col-4 col-md-5 col-lg-4 pl-5 mb-3 mx-4 topic-list '>
            <div class='col-md'>
              <div class='card'>
                 <a href='/topic/{{topic.id}}'>
                <div class='pl-4 card-body'>
                  <h5 class='card-title text-center'>{{topic.topicName}}</h5>
                </div>
                </a>
              </div>
            </div>
          </div>
        {{!-- </div> --}}
      {{!-- </a> --}}
    {{/each}}
  {{else}}

    <!-- Intro Card -->
    <div class='card' id='intro' style='width: 18rem;'>
      <div class='card-body'>
        <h5 class='card-title'>Let's start the hype!</h5>
        <p class='card-text'>Create Topics that you want to add achievements
          under, then click on that Topic to start documenting your successes!
        </p>
      </div>
    </div>
  {{/if}}
</div>

<script src='/js/dashboard.js'></script>