<h1 class='text-center m-auto p-2 fw-bold'>{{topicName}}</h1>
<div class='container text-center my-3'>
  <button
    type='button'
    class='btn btn-primary'
    data-bs-toggle='modal'
    data-bs-target='#achievementForm'
  >
    Add an achievement!
  </button>
</div>

<div
  class='modal fade'
  id='achievementForm'
  tabindex='-1'
  aria-labelledby='achievementFormLabel'
  aria-hidden='true'
>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h1 class='modal-title fs-5' id='achievementFormLabel'>New Achievement</h1>
        <button
          type='button'
          class='btn-close'
          data-bs-dismiss='modal'
          aria-label='Close'
        ></button>
      </div>
      <div class='modal-body'>
        <form class='px-4 py-3 achievement-form'>
          <div class='mb-3'>
            <label for='date' class='form-label'>Date of achievement</label>
            <input
              type='text'
              class='form-control'
              id='date'
              placeholder='xx/xx/xxxx'
            />
          </div>
          <div class='mb-3'>
            <label for='subject' class='form-label'>Subject</label>
            <input
              type='text'
              class='form-control'
              id='subject'
              placeholder='Subject of achievement'
            />
          </div>
          <div class='mb-3'>
            <label for='description' class='form-label'>Description</label>
            <textarea
              class='form-control'
              id='description'
              placeholder='Achievement details'
              rows='5'
            ></textarea>
          </div>
          <button type='submit' class='btn btn-primary'>Add it!</button>
        </form>
      </div>
    </div>
  </div>
</div>
{{#each achievements as |achievement|}}
  <div class='card' style='width: 18rem;'>
    <div class='card-body'>
      <h5 class='card-title'>{{subject}}</h5>
      <h6 class='card-subtitle mb-2 text-muted'>{{date}}</h6>
      <p class='card-text'>{{description}}</p>
    </div>
  </div>
{{/each}}
<script src='js/topic.js'></script>